<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1 class="title">CRC•</h1>
            </div>
            <div class="col-md-3">
                <ul class="nav">
                    <li class="nav-item" (click)="redirectToHome()">
                        <a class="nav-link"> Home </a>
                    </li>
                    <li class="nav-item" (click)="redirectToGallery()">
                        <a class="nav-link"> Gallery </a>
                    </li>
                    <li class="nav-item" (click)="redirectToHistory()">
                        <a class="nav-link"> History </a>
                    </li>
                    <li class="nav-item" (click)="redirectToMinistries()">
                        <a class="nav-link"> Ministries </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="nav">
                    <li class="nav-item" (click)="redirectToMissionaries()">
                        <a class="nav-link">
                            Missionaries
                            </a>
                    </li>
                    <li class="nav-item" (click)="redirectToCommittee()">
                        <a class="nav-link">
                            Committee Members
                            </a>
                    </li>

                    <li class="nav-item" (click)="redirectToBlog()">
                        <a class="nav-link">
                                Blog
                            </a>
                    </li>
                    <li class="nav-item" (click)="redirectToContact()">
                        <a class="nav-link">
                            Get In Touch
                            </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3 class="title">Follow us:</h3>
                <div class="btn-wrapper profile">
                    <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1">
                        <!-- <i class="fab fa-twitter"> </i> -->
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1">
                        <i class="fab fa-facebook-square"> </i>
                    </a>
                    <a class="btn btn-icon btn-neutral btn-round btn-simple">
                        <i class="fab fa-dribbble"> </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>