<div class="wrapper">

    <main class="page-main">

    </main>

</div>

<section id="commitee">

    <div class="container" *ngIf="cmService.committeMembers.arulvalviyamDetails.length>0">
        <tabset>
            <tab heading="Committee">
                <div class="members">
                    <div class="table">

                        <div class="table-row">
                            <div class="table-cell">
                                வார்டு எண்
                            </div>
                            <div class="table-cell">
                                அருள்வாழ்வியம்
                            </div>
                            <div class="table-cell">
                                தலைவர் பெயர்
                            </div>
                            <div class="table-cell">
                                முகவரி
                            </div>
                            <div class="table-cell">
                                கைப்பேசி எண்
                            </div>
                            <div class="table-cell">
                                புகைப்படம்
                            </div>
                        </div>

                        <div class="table-row" *ngFor="let porupalar of cmService.committeMembers.parishPorupalargal">
                            <div class="table-cell">

                            </div>
                            <div class="table-cell">
                                {{porupalar.poruppu}}
                            </div>
                            <div class="table-cell">
                                {{porupalar.name}}
                            </div>
                            <div class="table-cell">
                                {{porupalar.address}}
                            </div>
                            <div class="table-cell">
                                {{porupalar.mobile}}
                            </div>
                            <div class="table-cell">
                                <img [src]="porupalar.image">
                            </div>

                        </div>

                        <div class="table-row" *ngFor="let member of cmService.committeMembers.arulvalviyamDetails">
                            <div class="table-cell">
                                {{member.arulvalviyam.number}}
                            </div>
                            <div class="table-cell">
                                {{member.arulvalviyam.name}}
                            </div>
                            <div class="table-cell">
                                {{member.name}}
                            </div>
                            <div class="table-cell">
                                {{member.address}}
                            </div>
                            <div class="table-cell">
                                {{member.mobile}}
                            </div>
                            <div class="table-cell">
                                <img [src]="member.image">
                            </div>

                        </div>
                    </div>
                </div>
            </tab>
            <tab>
                <ng-template tabHeading>
                    <span class="badge badge-secondary">அருள்வாழ்வியம்</span>
                </ng-template>
                <div class="members">
                    <div class="table">
                        <div class="table-row">
                            <div class="table-cell">
                                வார்டு எண்
                            </div>
                            <div class="table-cell">
                                அருள்வாழ்வியம்
                            </div>
                            <div class="table-cell">
                                தலைவர் பெயர்
                            </div>
                            <div class="table-cell">
                                முகவரி
                            </div>
                            <div class="table-cell">
                                கைப்பேசி எண்
                            </div>
                        </div>

                        <div class="table-row" *ngFor="let member of cmService.committeMembers.arulvalviyamDetails">
                            <div class="table-cell">
                                {{member.arulvalviyam.number}}
                            </div>
                            <div class="table-cell">
                                {{member.arulvalviyam.name}}
                            </div>
                            <div class="table-cell">
                                {{member.name}}
                            </div>
                            <div class="table-cell">
                                {{member.address}}
                            </div>
                            <div class="table-cell">
                                {{member.mobile}}
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</section>