.table {
    display: table;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    padding: 10px;
    border: 1px solid #fff8f8;
    
}

.table-row:nth-child(1) {
    background: #DFECF0;
    font-weight: bold;
    color: black;
}

.members {
    padding-top: 1rem;
    margin-top: 1rem;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
}

#commitee {
    margin-bottom: 8rem;
    margin-top: 6rem;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}