<section id="ministry">
    <div class="container">   
        
        <div class="row"  *ngIf="ministeries.length>0">
                <div class = "frame col-lg-4 col-md-6 col-sm-6 col-xs-12" *ngFor="let ministery of ministeries">
                <img [src]="ministery.image" alt="img02">
                <div class = "details">
                    <h2>{{ministery.name}}</h2>
                    <h6>Leader :{{ministery.leader}}</h6>
                    <h6>Time :{{ministery.time}}</h6>
                    <h6>Total Members :{{ministery.numberOfMembers}}</h6>
                </div>
            </div>
    </div>	            
    </div>
</section>