<div>
    <form #f="ngForm">
        <label>Choose image to upload </label>
        <input type="file" id="file" required accept="image/png" [disabled]="spinner"
            (change)="handleFileInput($event.target.files)" name="image">
        <br>

        <label>Title :</label>
        <input type="text" id="title" minlength="1" required [disabled]="spinner" [(ngModel)]="flashNews.title"
            name="title">
        <br>

        <label>Description :</label>
        <!-- <input type="text" id="description" required [(ngModel)]="flashNews.description" name="description"> -->
        <textarea id="description" minlength="1" required [disabled]="spinner" [(ngModel)]="flashNews.description"
            name="description"></textarea>
        <br>

        <button class="btn btn-primary" [disabled]="spinner || f.invalid || !fileToUpload" (click)="onSaveButtonClicked()">Upload flash news
            <p-progressSpinner *ngIf="spinner" [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
        </button>
    </form>
    <p-toast position="top-center"></p-toast>
</div>