<div class="wrapper">

    <main class="page-main">

    </main>

</div>

<section id="contact">
    <div class="container contact_bgcolor">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-12">
                <div class="contact_header">
                    <h2>Conatct Us</h2>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12">
                <div class="contact_header">
                    <h2>Send Us A Message</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-12">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xs-12">
                        <div class="address">

                            <p><i class="fas fa-map-marker-alt"></i>Christ The King Church</p>
                            <p><i class="fas fa-map-marker-alt"></i>Nadaikkavu</p>
                            <p><i class="fas fa-phone"></i> 04651-252963</p>
                            <p><i class="fas fa-at"></i> info@jesuschristtheking.com</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12">
                <div class="name_form">
                    <label for="firstname" class="label_font">Name</label>
                    <input type="text" class="form-control">



                </div>
                <div class="name_form">
                    <label for="inputEmail" class="label_font">Email</label>
                    <input type="email" name="emailaddress" class="form-control" />


                </div>
                <div class="name_form">
                    <label for="address" class="label_font">Message</label>
                    <textarea class="form-control" rows="5"></textarea>
                </div>
                <div class="send_button">
                    <button type="button" class="btn btn-info">Send</button>
                    <!-- <button type="button" class="btn btn-success">Send</button> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="mapouter">
                    <div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=christ%20the%20king%20church%20Nadaikkavu&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        <a href="https://www.embedgooglemap.net/blog/20-off-discount-for-elegant-themes-divi-sale-coupon-code-2019/">elegant theme wordpress</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!----contact_container_finished----->
</section>
