.contact_bgcolor {
    background-color: #fdfdfd;
    padding-bottom: 1rem;
}

.contact_header {
    padding-top: 1rem;
}
.contact_header h2
{
    color: black;
}

.address p {
    text-align: left !important;
    color: black;
}

.send_button {
    text-align: center;
    padding-top: 1rem;
}


/*--------Google_map--------*/

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 100%;
    margin-bottom: 6rem;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .mapouter {
        position: relative;
        text-align: right;
        height: 500px;
        width: 100%;
        margin-bottom: 9.5rem;
    }
}

.gmap_canvas {
    padding-top: 1rem;
    overflow: hidden;
    background: none!important;
    height: 500px;
    width: 100%;
}


/*-----------Google_map-----------*/