<div class="nav-bar-container">
    <nav class="navbar navbar-expand-lg navbar-transparent" color-on-scroll="100" id="navbar-top">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" placement="bottom" tooltip="Christ The King Church Nadaikkavu">
                    <span> CRC• </span> Christ The King
                </a>
                <button aria-controls="navigation-index" aria-label="Toggle navigation"
                    class="navbar-toggler navbar-toggler" [attr.aria-expanded]="!isCollapsed"
                    (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
                    <span class="navbar-toggler-bar bar1"> </span>
                    <span class="navbar-toggler-bar bar2"> </span>
                    <span class="navbar-toggler-bar bar3"> </span>
                </button>
            </div>
            <div class="navbar-collapse justify-content-end" [collapse]="isCollapsed" id="navigation">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand"><a> CRC• </a></div>
                        <div class="col-6 collapse-close text-right">
                            <button aria-controls="navigation-index" aria-label="Toggle navigation"
                                class="navbar-toggler" [attr.aria-expanded]="!isCollapsed"
                                (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
                                <i class="tim-icons icon-simple-remove"> </i>
                            </button>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item p-0">
                        <a routerLink="/home" [ngClass]="{'active-menu':  router.isActive('/home', true)}"
                            class="nav-link" placement="bottom">

                            <!-- <a class="nav-link" placement="bottom" (click)="redirectToHome()"> -->
                            <i class="fas fa-home"></i>
                            <p class="nav_hover">Home</p>
                        </a>
                    </li>
                    <li class="nav-item p-0">
                        <a routerLink="/gallery" [ngClass]="{'active-menu':  router.isActive('/gallery', true)}"
                            class="nav-link" placement="bottom">
                            <i class="far fa-images"></i>
                            <p class="nav_hover">Gallery</p>
                        </a>
                    </li>
                    <li class="nav-item p-0">
                        <a routerLink="/history" [ngClass]="{'active-menu':  router.isActive('/history', true)}"
                            class="nav-link" placement="bottom">
                            <!-- <i class="fas fa-church"></i> -->
                            <p class="nav_hover">History</p>
                        </a>
                    </li>
                    <li class="nav-item p-0">
                        <a routerLink="/ministries" [ngClass]="{'active-menu':  router.isActive('/ministries', true)}"
                            class="nav-link" placement="bottom">
                            <i class="fas fa-child"> </i>
                            <p class="nav_hover">Ministries</p>
                        </a>
                    </li>
                    <li class="nav-item p-0">
                        <a routerLink="/missionaries"
                            [ngClass]="{'active-menu':  router.isActive('/missionaries', true)}" class="nav-link"
                            placement="bottom">
                            <i class="fas fa-child"> </i>
                            <p class="nav_hover">Missionaries</p>
                        </a>
                    </li>
                    <li class="dropdown nav-item" dropdown>
                        <a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" dropdownToggle
                            href="javascript:void(0)">
                            <i class="fas fa-place-of-worship d-lg-none d-xl-none"> </i> Committee
                        </a>
                        <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>
                            <a class="dropdown-item" (click)="redirectToCommittee()">
                                <i class="tim-icons"> </i> Committee Members
                            </a>
                            <a class="dropdown-item" (click)="redirectToFamily()">
                                <i class="fas fa-child"> </i> Family
                            </a>

                        </div>
                    </li>
                    <li class="nav-item p-0">
                        <a routerLink="/blog" [ngClass]="{'active-menu':  router.isActive('/blog', true)}"
                            class="nav-link" placement="bottom">
                            <i class="fas fa-blog"></i>
                            <p class="nav_hover">Blog</p>
                        </a>
                    </li>

                    <li class="nav-item p-0">
                        <a routerLink="/contact" [ngClass]="{'active-menu':  router.isActive('/contact', true)}"
                            class="nav-link" placement="bottom">
                            <!-- <i class="fas fa-phone-square-alt"></i> -->
                            <i class="fas fa-pray"></i>
                            <p class="nav_hover">Get In Touch</p>
                        </a>
                    </li>
                    <ng-template [ngIf]="authState.loggedIn">
                        <li class="nav-item p-0">
                            <a routerLink="/admin-panel"
                                [ngClass]="{'active-menu':  router.isActive('/admin-panel', true)}" class="nav-link"
                                placement="bottom">
                                <!-- <i class="fas fa-phone-square-alt"></i> -->
                                <i class="fas fa-pray"></i>
                                <p class="nav_hover">Admin</p>
                            </a>
                        </li>
                        <li class="nav-item p-0">
                            <span class="nav-link nav_hover">
                                <i class="fa fa-sign-out" aria-hidden="true" (click)='authService.logout()'></i>
                            </span>
                        </li>
                    </ng-template>
                </ul>
            </div>
        </div>
    </nav>
</div>