.nav_hover:hover {
    color: #10a5b8 !important;
}

.nav-link:hover {
    color: #10a5b8 !important;
}

.nav_hover {
    cursor: pointer;
    font-weight: 600;
}
/*-------Navbar--------*/

#Banner {
    color: #fff;
}

.banner_column1 {
    padding-bottom: 20px;
    padding-left: 2%;
    padding-right: 2%;
}

.promo_title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 50px;
    text-align: center;
}

p {
    text-align: center;
    color: black;
}

.headerpic img {
    height: auto;
    width: 100%;
    margin-top: 4rem;
}

.bottom-img {
    width: 100%;
    padding-top: 25px;
}

.cd_headline {
    text-align: justify;
    color: black;
}

/*---------------Banner section Finished---*/

.bible_words_align {
    padding-bottom: 20px;
    color: black;
}

.text_center {
    padding-top: 20px;
    text-align: center;
    color: black;
}

.order {
    padding: 20px;
    height: 375px;
}
.flash_news p {
    width: 100%;
    color: blue;
    font-size: larger;
    font-weight: bold;
    margin-top: 20px;
    cursor: -moz-grab;
    cursor: grab;
}
.flash_news h1 {
    color: black;
}

/*-----Hover ------*/

.bible_words {
    border-radius: 6px;
    cursor: pointer;
    height: 100px;
    line-height: 100px;
    text-align: center;
    transition-property: background, border-radius;
    transition-timing-function: linear;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    width: 100px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}

.bible_words:hover {
    border-radius: 50%;
}

/*----------service_(bible words)_section----------------*/

#pope_words {
    margin-top: -2rem;
}

.pope_words_title {
    padding-top: 10px;
    color: black;
}

.words_center {
    text-align: center;
    padding-top: 20px;
}

.pope_center {
    text-align: justify;
    color: black;
}

.pope_color {
    color: #10a5b8;
}

/*--------------pope words section Finished---------*/

.card img {
    height: 100px;
    width: 100px;
    text-align: center;
}

.hp {
    text-align: center;
}

/*-----------Four Images Finished--------*/

.bible_words {
    text-align: center;
    padding-top: 10px;
}

.bible_words img {
    border-radius: 10px;
}

.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    position: relative;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

@media only screen and (min-width: 320px) and (max-width: 370px) {
    .card {
        margin-right: 0rem !important;
        margin-left: 0rem !important;
        margin-bottom: 0rem !important;
    }
}

.order p {
    text-align: justify;
    line-height: 25px;
}

@media only screen and (min-width: 320px) and (max-width: 370px) {
    .order p {
        text-align: justify;
        line-height: 20px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .order p {
        text-align: justify;
        line-height: 20px;
    }
}

/*---------------- four images -----------*/
.grid {
    position: relative;
    margin: 0 auto;

    list-style: none;
    text-align: center;
}

/* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 100%;
    max-width: 100%;
    max-height: 360px;
    width: 48%;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}
.grid figure p {
    color: black;
    font-weight: bold;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

/*---------------*/
/***** Sadie *****/
/*---------------*/

figure.effect-sadie figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
    background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%); */
    background: -webkit-linear-gradient(top, #eaf1fd 0%, rgba(255, 255, 255, 0.001) 75%);
    background: linear-gradient(to top, #eaf1fd 0%, rgba(255, 255, 255, 0.001) 75%);

    content: "";
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
}

figure.effect-sadie h2 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: whitesmoke;
    -webkit-transition: -webkit-transform 0.35s, color 0.35s;
    transition: transform 0.35s, color 0.35s;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}
figure.effect-sadie img {
    width: 100%;
    height: 50rem;
    border-radius: 15px;
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
}

figure.effect-sadie:hover h2 {
    color: #fff;
    -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
    transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
}

figure.effect-sadie:hover figcaption::before,
figure.effect-sadie:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
/*---------------- four images finished-----------*/
/*---------------- toster popup-----------*/

.modal-title {
    color: black;
}
/*---------------- toster popup-----------*/
/*  carosal */

/*  carosal */
