<div style="padding-top: 100px;">

    <label>Post :</label>
    <p-dropdown [options]="containers" [(ngModel)]="selectedContainer"></p-dropdown>
    <div *ngIf="selectedContainer == 1">
        <app-add-flash-news></app-add-flash-news>
    </div>
    <div *ngIf="selectedContainer == 2">
        <app-add-upcoming-events></app-add-upcoming-events>
    </div>
    <div *ngIf="selectedContainer == 3">
        <app-add-bible-sentence></app-add-bible-sentence>
    </div>
</div>