
.page_heading {
    text-align: center;
    margin-top: 6rem;
}
.page_heading h1
{
    color: black;
}

.table {
    display: table;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    padding: 10px;
    border: 1px solid #fff8f8;

}

.table-row:nth-child(1) {
    background: #DFECF0;
    font-weight: bold;
    color: black;
}

.last_accordion {
    margin-bottom: 8rem;
}

.table_overflow {
    overflow-x: auto;
}