<div class="wrapper">

    <main class="page-main">

    </main>

</div>
<div class="container" *ngIf='churchMembers.length>0'>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12">
            <div class="page_heading">
                <h1>பங்கு மக்கள்</h1>
            </div>

        </div>
    </div>

    <accordion>
        <accordion-group *ngFor='let arulvalviyum of churchMembers'>
            <button class="btn btn-block clearfix" accordion-heading type="button">
                <div class="pull-left float-left">{{arulvalviyum.name}} (வார்டு எண் : {{arulvalviyum.number}})</div>
                <span class="badge badge-secondary float-right pull-right"><i
                        class="fas fa-angle-down rotate-icon"></i></span>
            </button>

            <div class="card-body table_overflow">
                <div class="table-row">
                    <div class="table-cell">
                        1
                    </div>

                    <div class="table-cell">
                        குடும்பத் தலைவர்
                    </div>
                    <div class="table-cell">
                        விலாசம்
                    </div>
                    <div class="table-cell">
                        Mobile
                    </div>

                </div>

                <div class="table-row" *ngFor='let member of arulvalviyum.members; let i = index'>
                    <div class="table-cell">
                        {{i+1}}
                    </div>

                    <div class="table-cell">
                        {{member.name}}
                    </div>
                    <div class="table-cell">
                        {{member.address}} </div>
                    <div class="table-cell">
                        {{member.mobile}}
                    </div>

                </div>
            </div>
        </accordion-group>
    </accordion>
</div>