.footer {
    padding: 50px 0;
    border-top: 2px solid #10a5b8;
    // background: radial-gradient(
    //   ellipse at bottom,
    //   #292d61 30%,
    //   $background-black 80%
    // );
    background-color: #f8f9fa !important;
    [class*="container-"] {
        padding: 0;
    }
    .nav {
        display: block;
        float: left;
        margin-bottom: 0;
        padding-top: 25px;
        list-style: none;
    }
    @media screen and (min-width: 577px) and (max-width: 767px) {
        .nav {
            text-align: center;
            float: none;
        }
    }
    .nav-item {
        display: block;
    }
    .nav-link {
        color: black;
        padding: 10px 0;
        font-size: $font-size-sm;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 600;
        cursor: pointer;
        &:hover {
            text-decoration: none;
            color: #10a5b8 !important;
        }
    }
    .title {
        text-align: left !important;
        color: black;
    }
    @media screen and (min-width: 577px) and (max-width: 767px) {
        .profile {
            text-align: center;
        }
    }
    .copyright {
        font-size: $font-size-sm;
        line-height: 1.8;
        color: $white;
    }
    &:after {
        display: table;
        clear: both;
        content: " ";
    }
}

@media screen and (max-width: 991px) {
    .footer {
        padding-left: 0px;
        .copyright {
            text-align: right;
            margin-right: 15px;
        }
    }
}

@media screen and (min-width: 992px) {
    .footer {
        .copyright {
            float: right;
            padding-right: 30px;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        nav {
            display: block;
            margin-bottom: 5px;
            float: none;
        }
    }
}

@media screen and (max-width: 576px) {
    .footer {
        text-align: center;
        .copyright {
            text-align: center;
        }
        .nav {
            float: none;
            padding-left: 0;
        }
    }
}