<!-- 
<div class="wrapper">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required [(ngModel)]="userName">

    <label for="mail"><b>Email</b></label>
    <input type="email" placeholder="Enter email" name="mail" required [(ngModel)]="email">

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required [(ngModel)]="password">

    <button type="submit" (click)="login()">Login</button>
    <label *ngIf="!authState.loggedIn && authState.userName !== 'anonymous'">Incorrect credential</label>
</div> -->

<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <!-- <div class="fadeIn first">
        <img src="../../../assets/images/monroe-logo.png" id="icon" alt="User Icon" />
        <h1>Monroe</h1>
      </div> -->
  
      <!-- Login Form -->
      <form>
          <label for="mob" class="label_margin">User Name</label>
        <input type="text" id="login" class="fadeIn second" placeholder="User Name" name="uname" required [(ngModel)]="userName">

        <label for="mob" class="label_margin" *ngIf='authState.forcePasswordChange'>Email</label>
        <input *ngIf='authState.forcePasswordChange' type="text" id="login" class="fadeIn second" placeholder="Email"  name="mail" required [(ngModel)]="email">

        <label for="mob" class="label_margin">Password</label>
        <input type="password" id="password" class="fadeIn third" placeholder="Password"  name="psw" required [(ngModel)]="password">

        <input type="submit" class="fadeIn fourth" value="Log In" (click)="login()">
    <label *ngIf="!authState.loggedIn && authState.userName !== 'anonymous'">Incorrect credential</label>

      </form>
    </div>
  </div>