<div class="wrapper">

    <main class="page-main">

    </main>

</div>
<section id="history">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <h4>கிறிஸ்து அரசர் ஆலய வரலாறு</h4>

            </div>
        </div>

        <div class="row">

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <p class="only_for_this_para">&emsp; முக்கடலும் முத்தமிழும் முத்தமிடுகின்ற கன்னியாகுமரி மாவட்டத்தின்
                    தென்கோடி முனையில் நடைக்காவு என்னும் சிற்றூரில் அன்பின் உறைவிடமாய், அமைதியின் உருவமாய் பக்தியின்
                    சிகரமாய் ஞானத்தின் உருவமாய் கம்பீரமாய் காட்சித் தருகின்ற கிறிஸ்து அரசர்
                    ஆலய வரலாறு ஈண்டு நோக்குவோம்.</p>
            </div>

            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">

                <p>&emsp;&emsp;06-05-1935-ஆம் ஆண்டு அருட் தந்தை ஜாண்,09-06-1935-ல் அருட்தந்தை தோமஸ், 20-06-1935- ல்
                    மீண்டும் அருட்தந்தை ஜாண், 04-07-1935-ல் அருட்தந்தை சைராபிஜோஸ் போன்றோர் இந்தப் பங்கில் குழுக்களாக
                    வந்து திருப்பலி நிறைவேற்றிக் கொண்டிருந்தார்கள்</p>
                <p>&emsp;&emsp;இவர்களில் அருட்தந்தை ஜாண் முதன்முதலாக பாலராமபுரம் செங்கல் சிறியன் கத்தோலிக்க
                    ஆலயத்திலிருந்து இங்கு வந்து திருப்பலி நடத்திவந்தார். இவர்கள் சிறியன் கத்தோலிக்க சபையைச்
                    சேர்ந்தவர்கள்</p>
                <p>&emsp;&emsp;இதே 1935- ம் ஆண்டு வந்துப் பணியாற்றிய அருட்தந்தை செறாபியோஸின் காலத்தில் திரு.பத்மனாபன்
                    நாடார் என்பவரிடமிருந்து சாத்தன்கோடு பகுதியில் இன்று பள்ளிக்கூடம் நடைபெற்று வரும் இடம் வாங்கப்பட்டது.
                    1940-ல் அருட்தந்தை பிரான்சிஸ் லத்தீன்
                    சபையைச் சார்ந்தவர் பங்கின் தந்தையாகப் பணியாற்ற வந்தார். இவர் 07-12-1941 வரை பணியாற்றினார். இவருடைய
                    காலத்தில் பள்ளிக்கூடத்திலுள்ள ஒரு கட்டிடத்தை ஆலயமாக மாற்றி திருப்பலி ஆரம்பித்தார்</p>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <img src="../../../assets/img/oldchurch.jpeg" />
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

                <p>&emsp;&emsp;இவருக்கு பிறகு 07-12-1941 -லிருந்து 17-07-1944 வரை அருட்தந்தை பிரடரிக் கர்மலித்தா சபையைச்
                    சார்ந்தவர் பங்குதந்தையாகப் பணியாற்றினார். பின்னர் 08-09-1944 லிருந்து 07-08-1945 வரை அருட்தந்தை
                    எக்பர்ட் அவர்கள் பங்குதந்தையாகப் பணியாற்றினார்.
                    இவரும் கர்மலித்தா சபையைச் சார்ந்தவர்.18-08-1945 -லிருந்து 15-11-1953 வரை, அருட்தந்தை எப்ரேம்,
                    அருட்தந்தை ஜோஸ்வா, அருட்தந்தை ஜோஸ்பினேசி, அனானியஸ் போன்றோர் பங்கின் குருக்களாக பணியாற்றினார்கள்.</p>
                <p>&emsp;&emsp;15-11-1953 -லிருந்து 30-08-1962 வரை கர்மலித்தா சபையை சார்ந்த அருட்தந்தை ஹைமண்ட் என்பவர்
                    பங்கின் பங்கு குருவாகப் பணியாற்றினார் . இவர் காலத்தில் தான் பழைய ஆலயமானது கட்டப்பட்டது. 1963
                    -லிருந்து 1964 -வரையிலான காலக்கட்டத்தில் அருட்தந்தை
                    தோமஸ் பணிக்கர் பங்குத்தந்தையாகப் பணியாற்றினார்.இவருடைய காலத்தில் 23-10-1963 -ல் இந்த ஆலயமானது
                    அர்ச்சிக்கப்பட்டது.</p>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <img src="../../../assets/img/oldchurch.jpeg" />

            </div>
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">


                <p>&emsp;&emsp;இதை தொடர்ந்து 1964 -லிருந்து 1968 -வரை அருட்தந்தை டேனியல் தோட்டம் என்பவர் பணியாற்றினார்.
                    இவருடைய காலத்தில் தான் முதன் முதலாக பங்குத்தந்தை இல்லம் கட்டப்பட்டது. தென்னை மரக்கன்றுகளும்
                    நடப்பட்டது. இவர் தான் முதலில் பங்கு இல்லத்தில்
                    தங்கி பணியாற்றியவர். இவருக்கு பிறகு 1968 -லிருந்து 1969 -வரை அருட்தந்தை ஜோஸ்வா தாழையத்தில் பங்கு
                    குருவாகப் பணியாற்றினார். இவர் காலத்தில்தான் சிறிய குருசடியானது கட்டப்பட்டது. 1969 -லிருந்து 1975
                    -வரை அருட்தந்தை P.G.தோமஸ் பணிக்கர் பங்கு
                    குருவாகப் பணியாற்றினார். இந்த காலக்கட்டத்திற்கு இடையில் அருட்தந்தை டேனியல் மங்கலத் என்பவர் மூன்று
                    மாத காலம் பணியாற்றினார்.அருட்தந்தை தோமஸ் பணிக்கரின் காலத்தில் 93 சென்று நிலம் ஆலயத்திற்காக
                    வாங்கப்பட்டது.இன்னும் இவருடைய காலத்தில் போராங்கோடு,
                    பஞ்சகுளம், நடுத்தேரி, பெரியகுளம் இவற்றை இணைத்துச் சானல் வெட்டப்பட்டது. சானல் வெட்டும் பணியில்
                    ஈடுபட்டவர்களுக்குச் சம்பளமாக கோதுமை மாவும் எண்ணெய்யும் உணவாக வழங்கப்பட்டது.</p>
            </div>

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

                <p>&emsp;&emsp;1975 முதல் 1976 வரை அருட்தந்தை சக்கரியாஸ் குழிப்பறம்பில் என்னும் குருவானவர் பங்கு குருவாக
                    பணியாற்றினார். இதனைத் தொடர்ந்து ஜோசப் புத்தன்குளம் அவர்கள் 1976 -ம் ஆண்டிலிருந்து 1979-ம் ஆண்டு வரை
                    பங்கு குருவாகப் பணியாற்றினார். இவர்
                    காலத்தில் பீடி கம்பெனி நடத்தப்பட்டது. ஐக்கியப் பேரவைக் கொண்டு வந்து மக்களிடம் விழிப்புணர்வை
                    ஏற்படுத்தினார். குறிப்பாக வீடு சந்தித்தல் சிறப்படைந்திருக்கிறது.1979-80 -களில் அருட்தந்தை தோமஸ்
                    எளிலத் பங்கின் குருவாகப் பணியாற்றினார். 1980
                    -முதல் 1982 -வரை ஜாண்.சி.புத்தன் வீடு அவர்கள் பங்குத்தந்தையாகப் பணியாற்றினார். இவர் காலத்தில் தான்
                    பள்ளிக்கூடம் ஆனது புதிய கான்கிரீட் கட்டிடமாக கட்டப்பட்டது.</p>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <img src="../../../assets/img/school.jpeg" />

            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">

                <p>&emsp;&emsp;1982 முதல் 1987 வரை அருட்தந்தை அகஸ்டின் விரிப்பேல் அவர்கள் பங்குத்தந்தையாகப்
                    பணியாற்றினார் . இவர் காலத்தில் பள்ளிக் கட்டிடம் கட்டி முடிக்கப்பட்டது. ஆலயத்திற்காகக் கிணறு பெரிதாக
                    வெட்டப்பட்டது. 1987 -லிருந்து 1992 -வரை அருட்தந்தை
                    பிலிப் தயானந்த் அவர்கள் பங்குக் குருவாகப் பணியாற்றினார் . இவர் காலத்தில் கிணற்றிலிருந்து தண்ணீர்
                    எடுக்க பம்புசெட் போடப்பட்டு தண்ணீர் தொட்டியும் கட்டப்பட்டது. கலையரங்கமும் அமைக்கப்பட்டது.</p>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                    <img src="../../../assets/img/13.jpg" />
    
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <p>&emsp;&emsp;இதற்குப்பின் அருட்தந்தை பிரான்சிஸ் அவர்கள் 1992 - 1993 -ம் கால கட்டத்தில் பங்கு குருவாகப்
                    பணியாற்றினார். இவர் பணியாற்றிய போது தான் கோவிலின் தெற்குப் பகுதி மதில் சுவர் கட்டப்பட்டது.</p>
                <p>&emsp;&emsp;இவரைத் தொடர்ந்து அருட்தந்தை ஜி.வர்க்கீஸ் அவர்கள் 1993 முதல் 1997 -வரை பங்குத்தந்தையாகப்
                    பணியாற்றினார் . இக்கால அளவில் இவர் பங்குத் தந்தை இல்லம், மணிமேடை, தையல் பயிற்சி வகுப்பு, புதிய
                    குருசடி போன்றவற்றை செய்தார்</p>
            <p>&emsp;&emsp;இவருக்குப் பின் அருட்தந்தை ஸ்கரியா கொச்சுமுரிப்பேல் 1997 -ம் ஆண்டு பங்கு குருவாக வந்து
                    2002 வரை பணியாற்றினார். இந்தக் காலகட்டத்தில் கன்னியர் இல்லம் கட்டப்பட்டது . Children For Unity
                    கட்டிடம் கட்டப்பட்டது. கிறிஸ்துராஜா கணிப்பொறி
                    கல்வி நிலையம் துவங்கப்பட்டது. எல்லாவற்றிற்கும் மேலாக புதிய ஆலயம் அடிக்கல் நாட்டி, வேலையம்
                    ஆரம்பிக்கப்பட்டது. மக்கள் ஆன்மீகத்தில் வளர்ச்சி கண்டனர். இவர் காலக்கட்டத்தில் ஜூபிலி விழாக்கள்
                    சிறப்பாக கொண்டாடப்பட்டது.</p>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <img src="../../../assets/img/computerEducation.jpeg" />

            </div>
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">

                <p>&emsp;&emsp;இவரைத் தொடர்ந்து 2002 ஜூனில் அருட்தந்தை கீவர்கீஸ் சாங்கியேத் பங்கு குருவாகப் பணி துவங்கி,
                    இதோ இன்னும் நம்மோடு நமது ஆலய வளர்ச்சிக்காக பணியாற்றிக் கொண்டு இருக்கின்றார். இவருடைய பணியில் நிறைவாக
                    புது ஆலயம் 2004 ஜனவரி 26 -ம் நாள்
                    அர்சிக்கப்பட்டது.

                </p>
                <p>&emsp;&emsp;இவருக்கு பிறகு 2011 லிருந்து அருட்தந்தை ஜோஸ்பின் ராஜ் பங்கு குருவாக பணியாற்றினார். இவர்
                    காலத்தில்தான் பழைய ஆலயத்தின் பின்பக்கம் நிரந்தர சமையலறை அமைக்க தீர்மானம் நிறைவேற்றப்பட்டு குழுவும்
                    அமைக்கப்பட்டது. பாலர் பள்ளி தொடங்கவும்
                    நேர்முகத் தேர்வின் மூலம் ஒரு ஆசிரியர் தேர்வு செய்ய வேண்டும் எனவும் தீர்மானம் நிறைவேற்றப்பட்டது.புதிய
                    சமூக நல கூடம் அமைக்க வேண்டும் என தீர்மானிக்கப்பட்டு அதற்கான குழுவும் தேர்வு செய்யப்பட்டது. இவரின்
                    காலத்தின் தான் குருசடி விரிவாக்கம்
                    செய்யப்பட்டது. மற்றும் ஆலயத்திற்கு புது ஜெனரேட்டர் வாங்க தீர்மானம் நிறைவேற்றப்பட்டது. Fr.சஜித்
                    மற்றும் Fr.சஜிவ் இவர்களின் குருப்பட்டத்தை முன்னிட்டு ஆலம் வெளிப்பகுதி Painting செய்ய தீர்மானம்
                    நிறைவேற்றப்பட்டது.
                </p>
                <p>&emsp;&emsp;இவருக்குப் பின் 2012 லிருந்து அருட்தந்தை ஜெறோம் பங்கு குருவாக பணியாற்றினார். இவரின்
                    காலத்தில் பங்குதந்தை இல்லத்தில் Inverter அமைக்கப்பட்டது. </p>
                </div>
               

                <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">
                <p>&emsp;&emsp;இவரைத் தொடர்ந்து 2013 லிருந்து அருட்தந்தை ஜோஸ் பிரைட் பங்கு குருவாக பணியாற்றினார். இவரின்
                    காலத்தின் மாதத்தின் முதல் ஞாயிறு காணிக்கை ஏழைகள் நல உதவிக்கு என்று தீர்மானம் நிறைவேற்றப்பட்டது.
                    மண்ணின் மைந்தன் Fr.மரிய ஜாண் வழங்கிய
                    ரூ.1 லட்சத்தைக் கொண்டு சரிவுப் பொற்றை திருமதி.நிர்மலா அவர்களுக்கு வீடு வைத்துக் கொடுக்கப்பட்டது.
                    புதிய Sound System அமைக்கப்பட்டது. நவீன Toilet அமைக்கப்பட்டது. ஆலயம் உள் வெளி Painting செய்ய
                    தீர்மானம் நிறைவேற்றப்பட்டது.
                </p>
                <p>&emsp;&emsp;இவருக்கு பிறகு 2017 லிருந்து அருட்தந்தை இராபின்சன் பங்கு குருவாக பணியாற்றினார். இவரின்
                    காலத்தின் சமூக நலக் கூடம் நிரந்தர Shed அமைக்கப்பட்டு Sheet போடப்பட்டது மற்றும் தரை கான்கிரீட்
                    போடப்பட்டது.</p>
               
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <img src="../../../assets/img/newChurch.jpg" />

                </div>
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <p class="only_for_this_row_bottom">&emsp;&emsp;1935 முதல் ஒவ்வொரு பங்கு குருக்களாலும் வனையப்பட்டு,
                        இன்று முழு ஆலயமாக்க வளர்ச்சி கண்டுள்ளது. நமது ஆலயமானது அன்பு, ஒற்றுமை, தியாகம், அமைதி போன்றவற்றின்
                        நினைவாகத்தான் மிளிர்ந்து உயர்ந்து நிற்கின்றது.</p>
                </div>
        </div>

    </div>
</section>