#history {
    margin-top: 76px;
}

h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}

p {
    text-align: justify;
    color: black;
}

.only_for_this_para {
    padding-top: 1rem;
}
img{
    width: 100%;
}