<section class="blog">
    <div class="container" *ngIf="blogs.length>0">
        <div class="row">
            <div class="card-column col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3" *ngFor="let blog of blogs">
                <!-- <div class="card-column"> -->
                <div class="card">
                    <img class="card-img-top" [src]="blog.image" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">{{blog.name}}</h4>
                        <p class="card-text">{{blog.description}}</p>
                        <div class='read-btn' style="text-align: center;">
                            <a [href]="blog.pdf" class="btn btn-primary" target="_blank">Read</a>
                        </div>
                    </div>
                </div>
                <!-- </div> -->

            </div>
        </div>
    </div>
</section>