.blog {
    h4,
    .card-text,
    .card-title {
        color: black;
    }
    .card-title {
        line-height: 1.5em;
        height: 1.5em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .card-column {
        padding: 15px;
    }
    .card-body {
        padding-bottom: 5px;
    }
    .card-text {
        color: slategrey;
        line-height: 1.5em;
        height: 3em;
        overflow: hidden;
    }
    .read-btn {
        text-align: center;
        a {
            background: #10a5b8 !important;
        }
    }

    @media only screen and (min-width: 580px) {
        .card-img-top {
            height: 140px;
        }
    }
}
