<div>
    <form #f="ngForm">

        <label>Chapter :</label>
        <input type="text" id="title" minlength="1" required [disabled]="spinner" [(ngModel)]="bibleQuote.chapter"
            name="title">
        <br>

        <label>Sentence :</label>
        <textarea id="description" minlength="1" required [disabled]="spinner" [(ngModel)]="bibleQuote.sentence"
            name="description"></textarea>
        <br>


        <button class="btn btn-primary" [disabled]="spinner || f.invalid"
            (click)="saveBibleQuote()">Upload todays quote
            <p-progressSpinner *ngIf="spinner" [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
        </button>
    </form>
    <p-toast position="top-center"></p-toast>
</div>
