  /* fathers and sisters area  scss code*/
  #our_church_fathers {
    margin-top: 30px;
}  
  .nadaikkavu_church_fathers {
  	text-align: center;
  	margin-bottom: 50px;
  }

  .nadaikkavu_church_fathers h4 {
  	text-align: center;
  	color: black;
  	font-weight: 600;
  }

  @mixin white-gradient {
  	background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }

  $animationSpeed: 50s;

  // Animation
  @keyframes scroll {
  	0% {
  		transform: translateX(0);
  	}

  	100% {
  		transform: translateX(calc(-250px * 7))
  	}
  }


  // Styling
  .slider {
  	background: white;

  	margin: auto;
  	overflow: hidden;
  	position: relative;
  	width: 100%;

  	&::before,
  	&::after {
  		@include white-gradient;
  		content: "";

  		position: absolute;
  		width: 200px;
  		z-index: 2;
  	}

  	&::after {
  		right: 0;
  		top: 0;
  		transform: rotateZ(180deg);

  	}

  	&::before {
  		left: 0;
  		top: 0;
  	}

  	.slide-track {
  		animation: scroll $animationSpeed linear infinite;
  		display: flex;
  		width: calc(250px * 20);
  	}

  	.slide-track:hover {
  		animation-play-state: paused;
  		cursor: grab;
  	}

  	.slide {
  		height: 100px;
  		width: 250px;
  	}
  }

  /* Carousel */
  @keyframes gradient {
  	0% {
  		background-position: 0% 50%;
  	}

  	50% {
  		background-position: 100% 50%;
  	}

  	100% {
  		background-position: 0% 50%;
  	}
  }

  .box-0 {
  	width: calc(300px + (480 - 400) * ((100vw - 320px) / (1600 - 320))) !important;
  }

  p {
  	font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1600 - 320))) !important;
  	line-height: 20px !important;
  	font-weight: 500;
  }

  .small {
  	letter-spacing: 0.5px !important;
  }

  .box-header {
  	min-height: calc(145px + (160 - 145) * ((100vw - 320px) / (1600 - 320))) !important;
  	background: #10a5b8 !important;
  	border-top-left-radius: 10px;
  	border-top-right-radius: 10px;
  }

  h6 {
  	font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1600 - 320))) !important;
  	color: #333;
  }

  .box {
  	background: #e6e7e9 !important;
  	border-radius: 10px;
  	// box-shadow: 0px 40px 110px 0px rgba(131, 146, 167, 0.5);
  }

  .img-1 {
  	position: relative;
  	width: calc(130px + (179 - 130) * ((100vw - 320px) / (1600 - 320))) !important;
  	height: auto;
  	border-radius: 50%;
  	top: calc(-90px + (60 - 90) * ((100vw - 320px) / (1600 - 320))) !important;
  	box-shadow: 3px 15px 20px rgba(0, 0, 0, 0.5);
  }

  .quotes {
  	position: relative;
  	top: calc(-60px + (50 - 60) * ((100vw - 320px) / (1600 - 320))) !important;
  }

  .quotes img {
  	width: calc(40px + (70 - 40) * ((100vw - 320px) / (1600 - 320))) !important;
  	height: auto;
  }

  .carousel-indicators li {
  	cursor: pointer !important;
  	border-radius: 50% !important;
  	width: 10px !important;
  	height: 10px !important;
  	opacity: 0.5 !important;
  	margin: 0 15px 18px 15px !important;
  	color: #333 !important;
  	background-color: #333 !important;
  	top: -10px !important;
  	position: relative !important;
  }

  #carouselExampleIndicators {
  	box-shadow: -5px 15px 25px rgba(7, 7, 7, 0.5) !important;
  }

  .carousel-inner {
  	border-radius: 15px !important;
  }

  /* fathers and sisters area  scss code*/