<!-- <app-header></app-header> -->


<section id="banner">
    <div class="container animated fadeInDown">
        <div class="row">
            <div class="col-md-6 col-xs-12 col-lg-6 col-sm-6">
                <div class="headerpic">
                    <img src="assets/img/king.jpg">
                </div>
            </div>
            <div class="col-md-6 col-xs-12 col-lg-6 col-sm-6">
                <div class="banner_column1">
                    <p class="promo_title">லூக்கா 2 : 1 - 7</p>
                    <div class="cd_headline">
                        இதோ! கன்னி கருவுற்று ஓர் ஆண்மகவைப் பெற்றெடுப்பார். அக்குழந்தைக்கு இம்மானுவேல் எனப்
                        பெயரிடுவர் என்று இறைவாக்கினர் வாயிலாக ஆண்டவர் உரைத்தது நிறைவேறவே இவை யாவும்
                        நிகழ்ந்தன.இம்மானுவேல் என்றால் "கடவுள் நம்முடன் இருக்கிறார்" என்பது பொருள்.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-------------Banner Section Finished--------------->
<section id="flash_news_area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-6">
                <div id="carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div>
                                <div class="slide-box">
                                    <h2>Latest News</h2>
                                    <p>அன்பின் உறைவிடமாய், அமைதியின்
                                        உருவமாய் பக்தியின்
                                        சிகரமாய் ஞானத்தின் உருவமாய் கம்பீரமாய் காட்சித் தருகின்ற கிறிஸ்து அரசர்
                                        ஆலய</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div>
                                <div class="slide-box">
                                    <h2>Latest News</h2>
                                    <p>முக்கடலும் முத்தமிழும்
                                        முத்தமிடுகின்ற
                                        கன்னியாகுமரி மாவட்டத்தின்
                                        தென்கோடி முனையில் நடைக்காவு என்னும் சிற்றூரில்</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-6 col-lg-6">
                <div class="history_image">
                    <img src="assets/img/newChurch.jpg">
                </div>
            </div>
        </div>
    </div>
</section>
<section id="history_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                <div class="history_words">
                    <h4>நம ஆலய வரலாறு</h4>
                    <img src="assets/img/ornament.png">
                    <p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; முக்கடலும் முத்தமிழும் முத்தமிடுகின்ற
                        கன்னியாகுமரி மாவட்டத்தின்
                        தென்கோடி முனையில் நடைக்காவு என்னும் சிற்றூரில் அன்பின் உறைவிடமாய், அமைதியின் உருவமாய் பக்தியின்
                        சிகரமாய் ஞானத்தின் உருவமாய் கம்பீரமாய் காட்சித் தருகின்ற கிறிஸ்து அரசர்
                        ஆலய வரலாறு ஈண்டு நோக்குவோம்.06-05-1935-ஆம் ஆண்டு அருட் தந்தை ஜாண்,09-06-1935-ல் அருட்தந்தை
                        தோமஸ், 20-06-1935- ல்
                        மீண்டும் அருட்தந்தை ஜாண், 04-07-1935-ல் அருட்தந்தை சைராபிஜோஸ் போன்றோர் இந்தப் பங்கில் குழுக்களாக
                        வந்து திருப்பலி நிறைவேற்றிக் கொண்டிருந்தார்கள்.இவர்களில் அருட்தந்தை ஜாண் முதன்முதலாக பாலராமபுரம்
                        செங்கல் சிறியன் கத்தோலிக்க
                        ஆலயத்திலிருந்து இங்கு வந்து திருப்பலி நடத்திவந்தார். இவர்கள் சிறியன் கத்தோலிக்க சபையைச்
                        சேர்ந்தவர்கள்</p>
                </div>
                <div class="history_button">
                    <div class="read_more_button" (click)="redirectToHistory()">Read More . . . </div>
                </div>
            </div>

            <!-- <div class="col-md-6 col-xs-12 col-sm-6 col-lg-6">
                <div class="history_image">
                    <img src="assets/img/newChurch.jpg">
                </div>
            </div> -->

        </div>
    </div>
</section>


<!---------------- History Section Finished------------>
<section id="pope_words">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 col-12 col-lg-12 ">
                <div class="pope_center ">
                    <div class="row ">
                        <div class="col-md-12 col-lg-12 col-xs-12 ">
                            <div class="words_center ">
                                <h1 class="pope_words_title ">A Few Words Of <span class="pope_color">Pope
                                        Francis</span> </h1>
                                <img src="assets/img/ornament.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div>
                <h2 class="pope_center ">
                    “The media only writes about the sinners and the scandals, he said, but thats normal, because a tree
                    that falls makes more noise than a forest that grows.”
                </h2>
            </div>
        </div>
    </div>
</section>
<!--------------- Pope Words Section Finished------------->

<section id="statue">
    <div class="container">
        <div class="row grid">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
                <figure class="effect-sadie">
                    <img src="assets/img/1.jpg" alt="img02" />
                    <figcaption>
                        <h2><span>திருப்பலிபீடம்</span></h2>
                        <p>Sadie never took her eyes off me. <br>She had a dark soul.</p>
                        <a href="#">View more</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ">

                <figure class="effect-sadie">
                    <img src="assets/img/13.jpg" alt="img14" />
                    <figcaption>
                        <h2><span>திருகுருசடி</span></h2>
                        <p>Sadie never took her eyes off me. <br>She had a dark soul.</p>
                        <a href="#">View more</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
                <figure class="effect-sadie">
                    <img src="assets/img/4.jpg" alt="img14" />
                    <figcaption>
                        <h2><span>கிறிஸ்து அரசர் திருசொரூபம்</span></h2>
                        <p>Sadie never took her eyes off me. <br>She had a dark soul.</p>
                        <a href="#">View more</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
                <figure class="effect-sadie">
                    <img src="assets/img/8.jpg" alt="img14" />
                    <figcaption>
                        <h2><span>மாதா திருசொரூபம்</span></h2>
                        <p>Sadie never took her eyes off me. <br>She had a dark soul.</p>
                        <a href="#">View more</a>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
<!-----------------Service section (Four Images) Finished------------->

<section id="service">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-4 ">
                <div class="box_card">
                    <div class="row ">
                        <div class="col-md-12 col-lg-12 col-xs-12 ">
                            <div class="bible_words ">
                                <img src="assets/img/jesus3.jpg">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <div class="ministries_ornament">
                                <h4 style="font-weight: bold; color: black;">Ministries</h4>
                                <img src="assets/img/ornament.png">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <div class="order ">
                                <p class="bible_words_align ">I believe that one defines
                                    oneself by reinvention. To not be like your parents. To not be like your friends. To be
                                    yourself.</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <div class="history_button">
                                <div class="read_more_button" (click)="redirectToMinistries()">Read More . . . </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-4 ">
                <div class="box_card">
                    <div class="row ">
                        <div class="col-md-12 col-lg-12 col-xs-12 ">
                            <div class="bible_words ">
                                <img src="assets/img/jesus3.jpg">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xs-12 ">
                            <div class="ministries_ornament">
                                <h4 style="font-weight: bold; color: black;">Missionaries</h4>
                                <img src="assets/img/ornament.png">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xs-12 ">
                            <div class="order ">
                                <p class="bible_words_align ">I believe that one defines
                                    oneself by reinvention. To not be like your parents. To not be like your friends. To be
                                    yourself.</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <div class="history_button">
                                <div class="read_more_button" (click)="redirectToMissionaries()">Read More . . . </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-4 ">
                <div class="box_card">
                    <div class="row ">
                        <div class="col-md-12 col-lg-12 col-xs-12 ">
                            <div class="bible_words ">
                                <img src="assets/img/jesus3.jpg">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xs-12 ">
                            <div class="ministries_ornament">
                                <h4 style="font-weight: bold; color: black;">Blog</h4>
                                <img src="assets/img/ornament.png">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xs-12 ">
                            <div class="order ">
                                <p class="bible_words_align ">I believe that one defines
                                    oneself by reinvention. To not be like your parents. To not be like your friends. To be
                                    yourself.</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <div class="history_button">
                                <div class="read_more_button" (click)="redirectToBlog()">Read More . . . </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!---------------- Bible Words Section Finished------------>
<section id="our_church_fathers">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                <div class="nadaikkavu_church_fathers">
                    <h4>நம் தேவாலயத்தில் உதித்த அருட் தந்தையர்கள் & அருள்சகோதரிகள்</h4>
                    <img src="assets/img/ornament.png">
                </div>
            </div>
        </div>
        <div class="slider">
            <div class="slide-track">
                <div class="row  d-flex justify-content-center">
                    <div class="box-0 col-auto d-flex  justify-content-center text-center">
                        <div class="box border-0 ">
                            <div class="box-header"></div>
                            <div class="box-body text-center "><img class="img-1 img-fluid"
                                    src="assets/img/Fr.Albin.jpg">
                                <div class="quotes"><img class="quotes-img box-title" src="" />
                                    <h6 class="font-weight-bold mt-4  mb-4">Nicholas V./ Company Inc</h6>
                                    <p class="box-text bold text-center px-md-3 intro">I believe that one defines
                                        oneself by
                                        reinvention. To not be like your parents. To not be like your friends. To be
                                        yourself.
                                        To cut
                                        yourself out of stone. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-0 col-auto d-flex  justify-content-center text-center">
                        <div class="box border-0 ">
                            <div class="box-header"></div>
                            <div class="box-body text-center "><img class="img-1 img-fluid"
                                    src="assets/img/Fr.George.jpg">
                                <div class="quotes"><img class="quotes-img box-title"
                                        src="https://i.imgur.com/Gfbinmw.jpg" />
                                    <h6 class="font-weight-bold mt-4  mb-4">Nicholas V./ Company Inc</h6>
                                    <p class="box-text bold text-center px-md-3 intro">I believe that one defines
                                        oneself by
                                        reinvention. To not be like your parents. To not be like your friends. To be
                                        yourself.
                                        To cut
                                        yourself out of stone. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-0 col-auto d-flex  justify-content-center text-center">
                        <div class="box border-0 ">
                            <div class="box-header"></div>
                            <div class="box-body text-center "><img class="img-1 img-fluid"
                                    src="assets/img/Fr.Sajeev.jpeg">
                                <div class="quotes"><img class="quotes-img box-title"
                                        src="https://i.imgur.com/Gfbinmw.jpg" />
                                    <h6 class="font-weight-bold mt-4  mb-4">Nicholas V./ Company Inc</h6>
                                    <p class="box-text bold text-center px-md-3 intro">I believe that one defines
                                        oneself by
                                        reinvention. To not be like your parents. To not be like your friends. To be
                                        yourself.
                                        To cut
                                        yourself out of stone. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-0 col-auto d-flex  justify-content-center text-center">
                        <div class="box border-0 ">
                            <div class="box-header"></div>
                            <div class="box-body text-center "><img class="img-1 img-fluid"
                                    src="assets/img/Fr.Sajith.jpeg">
                                <div class="quotes"><img class="quotes-img box-title"
                                        src="https://i.imgur.com/Gfbinmw.jpg" />
                                    <h6 class="font-weight-bold mt-4  mb-4">Nicholas V./ Company Inc</h6>
                                    <p class="box-text bold text-center px-md-3 intro">I believe that one defines
                                        oneself by
                                        reinvention. To not be like your parents. To not be like your friends. To be
                                        yourself.
                                        To cut
                                        yourself out of stone. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-0 col-auto d-flex  justify-content-center text-center">
                        <div class="box border-0 ">
                            <div class="box-header"></div>
                            <div class="box-body text-center "><img class="img-1 img-fluid"
                                    src="assets/img/Sr.Little.jpg">
                                <div class="quotes"><img class="quotes-img box-title"
                                        src="https://i.imgur.com/Gfbinmw.jpg" />
                                    <h6 class="font-weight-bold mt-4  mb-4">Nicholas V./ Company Inc</h6>
                                    <p class="box-text bold text-center px-md-3 intro">I believe that one defines
                                        oneself by
                                        reinvention. To not be like your parents. To not be like your friends. To be
                                        yourself.
                                        To cut
                                        yourself out of stone. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-0 col-auto d-flex  justify-content-center text-center">
                        <div class="box border-0 ">
                            <div class="box-header"></div>
                            <div class="box-body text-center "><img class="img-1 img-fluid"
                                    src="assets/img/Sr.Rani.jpeg">
                                <div class="quotes"><img class="quotes-img box-title"
                                        src="https://i.imgur.com/Gfbinmw.jpg" />
                                    <h6 class="font-weight-bold mt-4  mb-4">Nicholas V./ Company Inc</h6>
                                    <p class="box-text bold text-center px-md-3 intro">I believe that one defines
                                        oneself by
                                        reinvention. To not be like your parents. To not be like your friends. To be
                                        yourself.
                                        To cut
                                        yourself out of stone. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-0 col-auto d-flex  justify-content-center text-center">
                        <div class="box border-0 ">
                            <div class="box-header"></div>
                            <div class="box-body text-center "><img class="img-1 img-fluid"
                                    src="assets/img/Sr.Jeba Mary.jpg">
                                <div class="quotes"><img class="quotes-img box-title"
                                        src="https://i.imgur.com/Gfbinmw.jpg" />
                                    <h6 class="font-weight-bold mt-4  mb-4">Nicholas V./ Company Inc</h6>
                                    <p class="box-text bold text-center px-md-3 intro">I believe that one defines
                                        oneself by
                                        reinvention. To not be like your parents. To not be like your friends. To be
                                        yourself.
                                        To cut
                                        yourself out of stone. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-0 col-auto d-flex  justify-content-center text-center">
                        <div class="box border-0 ">
                            <div class="box-header"></div>
                            <div class="box-body text-center "><img class="img-1 img-fluid"
                                    src="https://i.imgur.com/nUNhspp.jpg">
                                <div class="quotes"><img class="quotes-img box-title"
                                        src="https://i.imgur.com/Gfbinmw.jpg" />
                                    <h6 class="font-weight-bold mt-4  mb-4">Nicholas V./ Company Inc</h6>
                                    <p class="box-text bold text-center px-md-3 intro">I believe that one defines
                                        oneself by
                                        reinvention. To not be like your parents. To not be like your friends. To be
                                        yourself.
                                        To cut
                                        yourself out of stone. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-0 col-auto d-flex  justify-content-center text-center">
                        <div class="box border-0 ">
                            <div class="box-header"></div>
                            <div class="box-body text-center "><img class="img-1 img-fluid"
                                    src="https://i.imgur.com/nUNhspp.jpg">
                                <div class="quotes"><img class="quotes-img box-title"
                                        src="https://i.imgur.com/Gfbinmw.jpg" />
                                    <p class="box-text bold text-center px-md-3 intro">I believe that one defines
                                        oneself by
                                        reinvention. To not be like your parents. To not be like your friends. To be
                                        yourself.
                                        To cut
                                        yourself out of stone. </p>
                                    <h6 class="font-weight-bold mt-4  mb-4">Nicholas V./ Company Inc</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-0 col-auto d-flex  justify-content-center text-center">
                        <div class="box border-0 ">
                            <div class="box-header"></div>
                            <div class="box-body text-center "><img class="img-1 img-fluid"
                                    src="https://i.imgur.com/nUNhspp.jpg">
                                <div class="quotes"><img class="quotes-img box-title"
                                        src="https://i.imgur.com/Gfbinmw.jpg" />
                                    <p class="box-text bold text-center px-md-3 intro">I believe that one defines
                                        oneself by
                                        reinvention. To not be like your parents. To not be like your friends. To be
                                        yourself.
                                        To cut
                                        yourself out of stone. </p>
                                    <h6 class="font-weight-bold mt-4  mb-4">Nicholas V./ Company Inc</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-0 col-auto d-flex  justify-content-center text-center">
                        <div class="box border-0 ">
                            <div class="box-header"></div>
                            <div class="box-body text-center "><img class="img-1 img-fluid"
                                    src="https://i.imgur.com/nUNhspp.jpg">
                                <div class="quotes"><img class="quotes-img box-title"
                                        src="https://i.imgur.com/Gfbinmw.jpg" />
                                    <p class="box-text bold text-center px-md-3 intro">I believe that one defines
                                        oneself by
                                        reinvention. To not be like your parents. To not be like your friends. To be
                                        yourself.
                                        To cut
                                        yourself out of stone. </p>
                                    <h6 class="font-weight-bold mt-4  mb-4">Nicholas V./ Company Inc</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>