@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";

/*side menu active*/

.active-menu {
  border-bottom: 3px solid #10a5b8 !important;

  color: #10a5b8 !important;
}
/*side menu active*/

/*header image */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  min-height: 350px;
  background: url(assets//img/5.jpg) no-repeat center / cover;
  background-blend-mode: luminosity;
}
/*header image */

.ctkn-progress-bar .ui-progressbar .ui-progressbar-value {
  background: #10a5b8;
}
ngx-spinner{
  .overlay{
    top: unset !important;
    height: 52% !important;
    .loading-text{
      top: 72% !important;
    }
  }
}