
 
img{
    width: 300px;
    text-align: center;
    padding: 10px;
}
.page_heading
{
    background-color: lightgray;
    padding-top: 25px;
    padding-bottom: 1px;
    padding-left: 15px;
}
.page_heading h1
{
    color: black !important;
}
.missionaries_heading
{
    color: black;
    font-weight: 600;
}
.missionaries_names_align
{
    text-align: center;
    font-weight: 600;
}

.bishop_pics img {
       
    height: 300px;
    border-radius: 50%;
}
.bishop_pics h4
{
    color:black;
    font-weight: 600;
    text-align: center;
}
.pope_pic img {
    height: 300px;
    border-radius: 50%;
}
.pope_pic h4
{
    color:black;
    font-weight: 600;
    text-align: center;

}
/*----------------------------*/
