<div class="wrapper">
  <main class="page-main">
  </main>
</div>
<div class="page_heading">
  <h1>Missionaries</h1>
</div>

<section id="fathers_bgpic">
  <div class="container" *ngIf="pope && bishops.length>0">
    <div class="row">
      <!-- pope -->
      <div class="col-md-3 col-lg-3-col-xs-12">
        <div class="pope_pic">
          <img [src]="pope.image">
          <h4>Pope Francis</h4>
        </div>
      </div>
      <!-- bisops -->
      <div class="col-md-3 col-lg-3-col-xs-12" *ngFor="let bisop of bishops">
        <div class="pope_pic">
          <img [src]="bisop.image">
          <h4>{{bisop.name}}</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- fathers -->
<section>
  <div class="container">
    <h1 class="missionaries_heading">
      Priests
    </h1>
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let father of fathers">
        <ng-template carouselSlide><img [src]="father.image">
          <div class="missionaries_names_align">Rev.Fr.{{father.name}}</div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</section>
<!-- sisters -->
<section>
  <div class="container">
    <h1 class="missionaries_heading">
      Sisters
    </h1>
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let sister of sisters">
        <ng-template carouselSlide><img [src]="sister.image">
          <div class="missionaries_names_align">Rev.Sr.{{sister.name}}</div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</section>