<app-header></app-header>
<div class="body">
    <p-messages [(value)]="msgService.msgs"></p-messages>
    <ngx-spinner bdColor = "rgba(0,0,0,0)" 
    size = "large" color = "#10a5b8"
     type = "square-loader" [fullScreen] = "false"
     [zIndex]="0">
     <p style="font-size: 15px; color: grey">Loading...</p>
    </ngx-spinner>
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>