<div>
    <form #f="ngForm">
        <label>Choose image to upload </label>
        <input type="file" id="file" required accept="image/png" [disabled]="spinner"
            (change)="handleFileInput($event.target.files)" name="image">
        <br>

        <label>Title :</label>
        <input type="text" id="title" minlength="1" required [disabled]="spinner" [(ngModel)]="upcomingEvent.title"
            name="title">
        <br>

        <label>Description :</label>
        <textarea id="description" minlength="1" required [disabled]="spinner" [(ngModel)]="upcomingEvent.description"
            name="description"></textarea>
        <br>

        <label>Date and Time:</label>
        <p-calendar name="date" required [(ngModel)]="eventDate" 
        [showTime]="true" hourFormat="12"></p-calendar>
        <br>

        <button class="btn btn-primary" [disabled]="spinner || f.invalid || !fileToUpload"
            (click)="onSaveButtonClicked()">Upload upcoming event
            <p-progressSpinner *ngIf="spinner" [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
        </button>
    </form>
    <p-toast position="top-center"></p-toast>
</div>